#app {
    width: 200px;
    margin: 0 auto;
    padding: 20px;    
}

#app div div{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: dotted green;
    margin-top: 40px;
    padding: 10px;
}

button {
    margin-top: 30px;
    padding: 10px 20px;;
    width: 80%;
}